<div hidden>
    @using (Html.BeginForm())
    {
        <input type="date" id="before" name="dateBefore" />
        <input type="date" id="after" name="dateAfter" />
        <input type="submit" name="dataAction" value="Add" id="add" style="width: 200px" onclick="SendDate('before', 'after')" />
    }
</div>
<div hidden>
    @using (Html.BeginForm("ExportShifts", "Schedule"))
    {
        <input type="date" id="ExportBefore" name="before" />
        <input type="date" id="ExportAfter" name="after" />
        <input type="submit" name="dataAction" id="export" style="width: 200px" onclick="SendDate('ExportBefore', 'ExportAfter')" />
    }
</div>