<div hidden>
    @*<form action="@Url.Action("AddRange")">
        <input type="text" name="currentDate" id="date" />

        <input type="text" name="rfactive1" id="rfactive1" />
        <input type="text" name="rfactive1" id="rfactive2" />
        <input type="text" name="rfactive1" id="rfactive3" />

        <input type="text" name="rfactive1" id="wmactive1" />
        <input type="text" name="rfactive1" id="wmactive2" />
        <input type="text" name="rfactive1" id="wmactive3" />

        <input type="text" name="rfshift1" id="rfshift1" />
        <input type="text" name="rfshift1" id="rfshift2" />
        <input type="text" name="rfshift1" id="rfshift3" />

        <input type="text" name="rfshift1" id="wmshift1" />
        <input type="text" name="rfshift1" id="wmshift2" />
        <input type="text" name="rfshift1" id="wmshift3" />

        <input type="submit" id="save" />
    </form>*@
    <form action="@Url.Action("Index")">
        <input type="submit" id="cancel" />
    </form>
</div>