<html>
<head>
    <link rel="stylesheet" href="~/css/styles.css" type="text/css" />
    <script src="~/js/jquery-3.5.1.min.js"></script>
    <script src="~/js/EditDay.js"></script>
    <script src="~/js/SharedScripts.js"></script>
</head>
<body>
    <form>
        <div style="text-align: center; font-size: 25px; font-weight: bold">Editing the day.</div>
        <div style="font-size: 25px; font-weight: bold">
            <u>@Model.Date.ToString("yyyy.MM.dd")</u>
        </div>
        <br />
        <div style="text-align: center; font-size: 25px; font-weight: bold">RF:</div>
        <br />
        <table style="margin-left: auto; margin-right: auto; width: 100%; text-align: center" id="rftable">
        </table>
        <br />
        <div style="text-align: center; font-size: 25px; font-weight: bold">WM:</div>
        <br />
        <table style="margin-left: auto; margin-right: auto; width: 100%; text-align: center" id="wmtable">
        </table>
        <br />
        <div hidden>
            <input type="text" id="rftemplate1" name="rfshift1" />
            <input type="text" id="rftemplate2" name="rfshift2" />
            <input type="text" id="rftemplate3" name="rfshift3" />
            <input type="text" id="wmtemplate1" name="wmshift1" />
            <input type="text" id="wmtemplate2" name="wmshift2" />
            <input type="text" id="wmtemplate3" name="wmshift3" />

            <input type="text" name="date" value="@Model.Date.ToString("yyyy-MM-dd")" />
            <input type="submit" name="dataAction" value="Save" id="save" />
        </div>
    </form>
    <table width="100%">
        <tr>
            <td width="50%" style="text-align:center">
                <button style="width: 200px" onclick="Save('@Url.Action("VerifySchedules")')">Save</button>
            </td>
            <td width="50%" style="text-align:center">
                <button style="width: 200px" onclick="$('#cancel').click()">Cancel</button>
            </td>
        </tr>
    </table>
    <br />
    <partial name="TemplateList" />
    <partial name="EditDayForms" />
    <partial name="EditDayScripts" />
</body>
</html>